// MapConfi.rc

#include "Resource.h"

STRINGTABLE{
	ID_CONFIG_MAP_SCALE             "7.0"
	ID_CONFIG_MAP_CEILING_HEIGHT    "7.0"
	ID_CONFIG_MAP_FLOOR_HEIGHT      "0.0"
	ID_CONFIG_ENEMY_SPAWN_MAX       "10"
	ID_CONFIG_ENEMY_SPAWN_KIND_MAX  "10"
	ID_CONFIG_ITEM_SPAWN_MAX        "10"
}

