// MapConfi.rc

#include "Resource.h"

STRINGTABLE{
	ID_CONFIG_MAP_SCALE             "7.0"
	ID_CONFIG_MAP_CEILING_HEIGHT    "7.0"
	ID_CONFIG_MAP_FLOOR_HEIGHT      "0.0"
	ID_CONFIG_ENEMY_SPAWN_MAX       "10"
	ID_CONFIG_ENEMY_SPAWN_KIND_MAX  "10"
	ID_CONFIG_ITEM_SPAWN_MAX        "10"
	ID_CONFIG_ITEM_SPAWN_KIND_MAX   "10"
	ID_CONFIG_ITEM_POTION_KIND      "1"
	ID_CONFIG_ITEM_ARROW_KIND       "1"
	ID_CONFIG_ITEM_BULLET_KIND      "1"
	ID_CONFIG_WEAPON_SWORD_KIND     "1"
	ID_CONFIG_WEAPON_BOW_KIND       "1"
	ID_CONFIG_WEAPON_GUN_KIND       "1"
	ID_CONFIG_EQUIPMENT_SHIELD_KIND "1"
	ID_CONFIG_EQUIPMENT_HEAD_KIND   "1"
	ID_CONFIG_EQUIPMENT_BODY_KIND   "1"
	ID_CONFIG_EQUIPMENT_FOOT_KIND   "1"
}

