#include "Resource.h"

IDI_ICON ICON "ICON.ico"

IDI_CHARSET_SMALL  PNG "CharsetSmall.png"
IDI_CHARSET_MEDIUM PNG "CharsetMedium.png"
IDI_CHARSET_LARGE  PNG "CharsetLarge.png"

IDI_ITEM     PNG "Item.png"
IDI_SLIME    PNG "Slime.png"
IDI_SLIME2   PNG "Slime2.png"
IDI_SLIME3   PNG "Slime3.png"
IDI_FOX      PNG "Fox.png"
IDI_FOX2     PNG "Fox2.png"
IDI_BIRD     PNG "Bird.png"
IDI_BIRD2    PNG "Bird2.png"
IDI_MOTH     PNG "Moth.png"
IDI_MOTH2    PNG "Moth2.png"
IDI_GOBLIN   PNG "Goblin.png"
