#include "Resource.h"

STRINGTABLE{
    // キャラクター
    // ID,名前,Size,AI,Exp,MHP,AGI,射程,STR,攻撃コスト
    ID_INDEX_CHARACTER + 1 "マイヒーロー,1.7,Player,0,20,1,2,5,1"
    ID_INDEX_CHARACTER + 2 "操られしショゴス,0.5,Berserk,10,20,0.5,0.3,3,3"
    ID_INDEX_CHARACTER + 3 "インスマス,1.8,Berserk,20,50,1,2,7,2"

    // アイテム
    // ID,アイテム種別,名前,概要説明,サイズ,重量,使用,装備,反射,特殊効果,コスト,装備値,有効射程,有効角,発射数,装填数,使用弾丸
    ID_INDEX_ITEM +  1 "Potion,ポーション,,0.300 ,0.300 ,1,0,1,28,1,,,,,,"
    ID_INDEX_ITEM +  2 "Bomb,しゅりゅうだん,,0.600 ,0.500 ,0,0,0,33,3,,,,,,"
    ID_INDEX_ITEM +  3 "Arrow,ボロのや,,0.500 ,0.050 ,0,0,0,30,1,,,,,,"
    ID_INDEX_ITEM +  4 "Ammo,9mm弾,,0.029 ,0.008 ,0,0,0,29,1,,,,,,"
    ID_INDEX_ITEM +  5 "Ammo,5.56mm弾,,0.057 ,0.004 ,0,0,0,29,1,,,,,,"
    ID_INDEX_ITEM +  6 "Ammo,7.62mm弾,,0.070 ,0.010 ,0,0,0,29,5,,,,,,"
    ID_INDEX_ITEM +  7 "Ammo,12.7mm弾,,0.138 ,0.045 ,0,0,0,30,8,,,,,,"
    ID_INDEX_ITEM +  8 "Ammo,40mmグレネード,,0.988 ,0.032 ,0,0,0,33,10,,,,,,"
    ID_INDEX_ITEM +  9 "Sword,ボロのけん,,0.500 ,1.200 ,0,1,1,32,5,5,1.3,10,,,"
    ID_INDEX_ITEM + 10 "Bow,ボロのゆみ,,1.000 ,0.500 ,0,1,1,30,5,10,,,,2,600"
    ID_INDEX_ITEM + 11 "Gun,リボルバーピストル,,0.241 ,1.092 ,0,1,1,29,12,10,,,1,6,4"
    ID_INDEX_ITEM + 12 "Gun,セミオートピストル,,0.217 ,0.950 ,0,1,1,29,7,7,,,1,15,4"
    ID_INDEX_ITEM + 13 "Gun,フルオートピストル,,0.225 ,1.220 ,0,1,1,29,10,5,,,2,20,4"
    ID_INDEX_ITEM + 14 "Gun,アサルトライフル(SA),,0.916 ,3.500 ,0,1,1,29,10,20,,,2,20,5"
    ID_INDEX_ITEM + 15 "Gun,アサルトライフル(FA),,0.999 ,3.500 ,0,1,1,29,12,15,,,5,30,5"
    ID_INDEX_ITEM + 16 "Gun,カービン,,0.904 ,2.490 ,0,1,1,29,8,18,,,2,15,5"
    ID_INDEX_ITEM + 17 "Gun,スナイパーライフル,,1.208 ,8.100 ,0,1,1,29,18,30,,,1,10,6"
    ID_INDEX_ITEM + 18 "Gun,AMライフル,,1.447 ,12.900 ,0,1,1,29,20,50,,,1,11,7"
    ID_INDEX_ITEM + 19 "Gun,ヘビーマシンガン,,1.645 ,47.100 ,0,1,1,29,30,20,,,20,110,7"
    ID_INDEX_ITEM + 20 "Gun,ライトマシンガン,,1.225 ,10.500 ,0,1,1,29,20,18,,,10,50,6"
    ID_INDEX_ITEM + 21 "Gun,サブマシンガン,,0.840 ,3.500 ,0,1,1,29,18,15,,,8,35,6"
    ID_INDEX_ITEM + 22 "Gun,グレネードランチャー,,0.737 ,2.720 ,0,1,1,29,15,20,,,1,1,8"
    ID_INDEX_ITEM + 23 "Shield,ボロのたて,,1.000 ,1.200 ,0,1,1,31,1,3,,,,,"
    ID_INDEX_ITEM + 24 "HeadEquipment,ボロのヘルメット,,0.300 ,0.400 ,0,1,1,31,1,2,,,,,"
    ID_INDEX_ITEM + 25 "BodyEquipment,ボロのハラマキ,,0.300 ,0.200 ,0,1,1,29,1,1,,,,,"
    ID_INDEX_ITEM + 26 "FootEquipment,ボロのくつした,,0.300 ,0.100 ,0,1,1,29,1,1,,,,,"

    // 特殊効果
    //ID,特殊効果,効果値,特殊効果,効果値,特殊効果,効果値,特殊効果,効果値
    ID_INDEX_SPECIAL + 27 "Miss,,,,,,,"
    ID_INDEX_SPECIAL + 28 "Heal,30,,,,,,"
    ID_INDEX_SPECIAL + 29 "Damage,1,,,,,,"
    ID_INDEX_SPECIAL + 30 "Damage,2,,,,,,"
    ID_INDEX_SPECIAL + 31 "Damage,3,,,,,,"
    ID_INDEX_SPECIAL + 32 "Damage,10,,,,,,"
    ID_INDEX_SPECIAL + 33 "Explosion,150,,,,,,"

    // スポーン
    // 階層,ID,%,ID,%,ID,%,ID,%,ID,%,ID,%,ID,%,ID,%,ID,%,ID,%,ItemSpawn
    ID_INDEX_SPAWN +  1 "2,90,3,10,,,,,,,,,,,,,,,,,1"
    ID_INDEX_SPAWN +  2 "2,80,3,20,,,,,,,,,,,,,,,,,2"
    ID_INDEX_SPAWN +  3 "2,70,3,30,,,,,,,,,,,,,,,,,3"
    ID_INDEX_SPAWN +  4 "2,60,3,40,,,,,,,,,,,,,,,,,4"
    ID_INDEX_SPAWN +  5 "2,50,3,50,,,,,,,,,,,,,,,,,5"
    ID_INDEX_SPAWN +  6 "2,40,3,60,,,,,,,,,,,,,,,,,6"
    ID_INDEX_SPAWN +  7 "2,30,3,70,,,,,,,,,,,,,,,,,7"
    ID_INDEX_SPAWN +  8 "2,20,3,80,,,,,,,,,,,,,,,,,8"
    ID_INDEX_SPAWN +  9 "2,10,3,90,,,,,,,,,,,,,,,,,9"
    ID_INDEX_SPAWN + 10 "2,0,3,100,,,,,,,,,,,,,,,,,10"
    ID_INDEX_SPAWN + 11 ",,,,,,,,,,,,,,,,,,,,"
    ID_INDEX_SPAWN + 12 ",,,,,,,,,,,,,,,,,,,,"
    ID_INDEX_SPAWN + 13 ",,,,,,,,,,,,,,,,,,,,"
    ID_INDEX_SPAWN + 14 ",,,,,,,,,,,,,,,,,,,,"
    ID_INDEX_SPAWN + 15 ",,,,,,,,,,,,,,,,,,,,"
    ID_INDEX_SPAWN + 16 ",,,,,,,,,,,,,,,,,,,,"
    ID_INDEX_SPAWN + 17 ",,,,,,,,,,,,,,,,,,,,"
    ID_INDEX_SPAWN + 18 ",,,,,,,,,,,,,,,,,,,,"
    ID_INDEX_SPAWN + 19 ",,,,,,,,,,,,,,,,,,,,"
    ID_INDEX_SPAWN + 20 ",,,,,,,,,,,,,,,,,,,,"
    ID_INDEX_SPAWN + 21 ",,,,,,,,,,,,,,,,,,,,"
    ID_INDEX_SPAWN + 22 ",,,,,,,,,,,,,,,,,,,,"
    ID_INDEX_SPAWN + 23 ",,,,,,,,,,,,,,,,,,,,"
    ID_INDEX_SPAWN + 24 ",,,,,,,,,,,,,,,,,,,,"
    ID_INDEX_SPAWN + 25 ",,,,,,,,,,,,,,,,,,,,"
    ID_INDEX_SPAWN + 26 ",,,,,,,,,,,,,,,,,,,,"
    ID_INDEX_SPAWN + 27 ",,,,,,,,,,,,,,,,,,,,"
    ID_INDEX_SPAWN + 28 ",,,,,,,,,,,,,,,,,,,,"
    ID_INDEX_SPAWN + 29 ",,,,,,,,,,,,,,,,,,,,"
    ID_INDEX_SPAWN + 30 ",,,,,,,,,,,,,,,,,,,,"
    ID_INDEX_SPAWN + 31 ",,,,,,,,,,,,,,,,,,,,"
    ID_INDEX_SPAWN + 32 ",,,,,,,,,,,,,,,,,,,,"
    ID_INDEX_SPAWN + 33 ",,,,,,,,,,,,,,,,,,,,"
    ID_INDEX_SPAWN + 34 ",,,,,,,,,,,,,,,,,,,,"
    ID_INDEX_SPAWN + 35 ",,,,,,,,,,,,,,,,,,,,"
    ID_INDEX_SPAWN + 36 ",,,,,,,,,,,,,,,,,,,,"
    ID_INDEX_SPAWN + 37 ",,,,,,,,,,,,,,,,,,,,"
    ID_INDEX_SPAWN + 38 ",,,,,,,,,,,,,,,,,,,,"
    ID_INDEX_SPAWN + 39 ",,,,,,,,,,,,,,,,,,,,"
    ID_INDEX_SPAWN + 40 ",,,,,,,,,,,,,,,,,,,,"
    ID_INDEX_SPAWN + 41 ",,,,,,,,,,,,,,,,,,,,"
    ID_INDEX_SPAWN + 42 ",,,,,,,,,,,,,,,,,,,,"
    ID_INDEX_SPAWN + 43 ",,,,,,,,,,,,,,,,,,,,"
    ID_INDEX_SPAWN + 44 ",,,,,,,,,,,,,,,,,,,,"
    ID_INDEX_SPAWN + 45 ",,,,,,,,,,,,,,,,,,,,"
    ID_INDEX_SPAWN + 46 ",,,,,,,,,,,,,,,,,,,,"
    ID_INDEX_SPAWN + 47 ",,,,,,,,,,,,,,,,,,,,"
    ID_INDEX_SPAWN + 48 ",,,,,,,,,,,,,,,,,,,,"
    ID_INDEX_SPAWN + 49 ",,,,,,,,,,,,,,,,,,,,"
    ID_INDEX_SPAWN + 50 ",,,,,,,,,,,,,,,,,,,,"
    ID_INDEX_SPAWN + 51 ",,,,,,,,,,,,,,,,,,,,"
    ID_INDEX_SPAWN + 52 ",,,,,,,,,,,,,,,,,,,,"
    ID_INDEX_SPAWN + 53 ",,,,,,,,,,,,,,,,,,,,"
    ID_INDEX_SPAWN + 54 ",,,,,,,,,,,,,,,,,,,,"
    ID_INDEX_SPAWN + 55 ",,,,,,,,,,,,,,,,,,,,"
    ID_INDEX_SPAWN + 56 ",,,,,,,,,,,,,,,,,,,,"
    ID_INDEX_SPAWN + 57 ",,,,,,,,,,,,,,,,,,,,"
    ID_INDEX_SPAWN + 58 ",,,,,,,,,,,,,,,,,,,,"
    ID_INDEX_SPAWN + 59 ",,,,,,,,,,,,,,,,,,,,"
    ID_INDEX_SPAWN + 60 ",,,,,,,,,,,,,,,,,,,,"
    ID_INDEX_SPAWN + 61 ",,,,,,,,,,,,,,,,,,,,"
    ID_INDEX_SPAWN + 62 ",,,,,,,,,,,,,,,,,,,,"
    ID_INDEX_SPAWN + 63 ",,,,,,,,,,,,,,,,,,,,"
    ID_INDEX_SPAWN + 64 ",,,,,,,,,,,,,,,,,,,,"
    ID_INDEX_SPAWN + 65 ",,,,,,,,,,,,,,,,,,,,"
    ID_INDEX_SPAWN + 66 ",,,,,,,,,,,,,,,,,,,,"
    ID_INDEX_SPAWN + 67 ",,,,,,,,,,,,,,,,,,,,"
    ID_INDEX_SPAWN + 68 ",,,,,,,,,,,,,,,,,,,,"
    ID_INDEX_SPAWN + 69 ",,,,,,,,,,,,,,,,,,,,"
    ID_INDEX_SPAWN + 70 ",,,,,,,,,,,,,,,,,,,,"
    ID_INDEX_SPAWN + 71 ",,,,,,,,,,,,,,,,,,,,"
    ID_INDEX_SPAWN + 72 ",,,,,,,,,,,,,,,,,,,,"
    ID_INDEX_SPAWN + 73 ",,,,,,,,,,,,,,,,,,,,"
    ID_INDEX_SPAWN + 74 ",,,,,,,,,,,,,,,,,,,,"
    ID_INDEX_SPAWN + 75 ",,,,,,,,,,,,,,,,,,,,"
    ID_INDEX_SPAWN + 76 ",,,,,,,,,,,,,,,,,,,,"
    ID_INDEX_SPAWN + 77 ",,,,,,,,,,,,,,,,,,,,"
    ID_INDEX_SPAWN + 78 ",,,,,,,,,,,,,,,,,,,,"
    ID_INDEX_SPAWN + 79 ",,,,,,,,,,,,,,,,,,,,"
    ID_INDEX_SPAWN + 80 ",,,,,,,,,,,,,,,,,,,,"
    ID_INDEX_SPAWN + 81 ",,,,,,,,,,,,,,,,,,,,"
    ID_INDEX_SPAWN + 82 ",,,,,,,,,,,,,,,,,,,,"
    ID_INDEX_SPAWN + 83 ",,,,,,,,,,,,,,,,,,,,"
    ID_INDEX_SPAWN + 84 ",,,,,,,,,,,,,,,,,,,,"
    ID_INDEX_SPAWN + 85 ",,,,,,,,,,,,,,,,,,,,"
    ID_INDEX_SPAWN + 86 ",,,,,,,,,,,,,,,,,,,,"
    ID_INDEX_SPAWN + 87 ",,,,,,,,,,,,,,,,,,,,"
    ID_INDEX_SPAWN + 88 ",,,,,,,,,,,,,,,,,,,,"
    ID_INDEX_SPAWN + 89 ",,,,,,,,,,,,,,,,,,,,"
    ID_INDEX_SPAWN + 90 ",,,,,,,,,,,,,,,,,,,,"
    ID_INDEX_SPAWN + 91 ",,,,,,,,,,,,,,,,,,,,"
    ID_INDEX_SPAWN + 92 ",,,,,,,,,,,,,,,,,,,,"
    ID_INDEX_SPAWN + 93 ",,,,,,,,,,,,,,,,,,,,"
    ID_INDEX_SPAWN + 94 ",,,,,,,,,,,,,,,,,,,,"
    ID_INDEX_SPAWN + 95 ",,,,,,,,,,,,,,,,,,,,"
    ID_INDEX_SPAWN + 96 ",,,,,,,,,,,,,,,,,,,,"
    ID_INDEX_SPAWN + 97 ",,,,,,,,,,,,,,,,,,,,"
    ID_INDEX_SPAWN + 98 ",,,,,,,,,,,,,,,,,,,,"
    ID_INDEX_SPAWN + 99 ",,,,,,,,,,,,,,,,,,,,"

    // アイテムスポーン
    // ID,ポーション,しゅりゅうだん,ボロのや,9mm弾,5.56mm弾,7.62mm弾,12.7mm弾,40mmグレネード,ボロのけん,ボロのゆみ,リボルバーピストル,セミオートピストル,フルオートピストル,アサルトライフル(SA),アサルトライフル(FA),カービン,スナイパーライフル,AMライフル,ヘビーマシンガン,ライトマシンガン,サブマシンガン,グレネードランチャー,ボロのたて,ボロのヘルメット,ボロのハラマキ,ボロのくつした
    ID_INDEX_ITEMSPAWN +  1 "10,5,30,50,20,5,5,5,50,50,20,50,20,15,10,10,5,1,1,5,10,1,50,50,50,50"
    ID_INDEX_ITEMSPAWN +  2 "20,5,30,50,20,5,5,5,40,30,20,50,20,15,10,10,5,1,1,5,10,1,40,40,40,40"
    ID_INDEX_ITEMSPAWN +  3 "30,5,30,50,20,5,5,5,30,10,20,50,20,15,10,10,5,1,1,5,10,1,30,30,30,30"
    ID_INDEX_ITEMSPAWN +  4 "40,5,30,50,20,5,5,5,20,0,0,50,0,15,0,0,5,1,1,5,0,1,20,20,20,20"
    ID_INDEX_ITEMSPAWN +  5 "50,5,30,50,20,5,5,5,10,0,0,0,0,15,0,0,5,1,1,5,0,1,10,10,10,10"
    ID_INDEX_ITEMSPAWN +  6 "60,5,30,50,20,5,5,5,0,0,0,0,0,0,0,0,5,1,1,5,0,1,0,0,0,0"
    ID_INDEX_ITEMSPAWN +  7 "70,5,30,50,20,5,5,5,0,0,0,0,0,0,0,0,5,1,1,5,0,1,0,0,0,0"
    ID_INDEX_ITEMSPAWN +  8 "80,5,30,50,20,10,10,10,0,0,0,0,0,0,0,0,5,1,1,5,0,3,0,0,0,0"
    ID_INDEX_ITEMSPAWN +  9 "90,5,30,50,20,10,10,10,0,0,0,0,0,0,0,0,5,1,1,5,0,3,0,0,0,0"
    ID_INDEX_ITEMSPAWN + 10 "100,5,30,50,20,10,10,10,0,0,0,0,0,0,0,0,5,1,1,5,0,3,0,0,0,0"
}

