// ID,アイテム種別,名前,大きさ,重量,使用,装備,反射,特殊効果,効果値,コスト,攻撃力,防御力,有効射程,有効角,装填数,使用弾丸

STRINGTABLE{
    501 "Potion,ポーション,0.3,0.3,1,0,0,Heal,5,1,,,,,,"
    801 "Sword,ボロのけん,0.5,1.2,0,1,1,Damage,10,5,5,0,1.3,10,,"
    802 "Shield,ボロのたて,1,1.2,0,1,1,Damage,3,1,0,3,0.3,20,,"
    803 "HeadEquipment,ボロのヘルメット,0.3,0.4,0,1,1,Damage,3,1,0,2,0.1,360,,"
    804 "BodyEquipment,ボロのハラマキ,0.3,0.2,0,1,1,Damage,1,1,0,1,0.1,360,,"
    805 "FootEquipment,ボロのくつした,0.3,0.1,0,1,1,Damage,1,1,0,1,0.1,360,,"
    806 "Gun,ボロのてっぽう,0.7,1.2,0,1,1,Damage,2,3,30,0,100,1,12,807"
    807 "Bullet,ボロのだんがん,0.01,0.01,0,0,0,Damage,2,1,,,,,,"
    808 "Bow,ボロのゆみ,1,0.5,0,1,1,Damage,2,5,10,0,30,1,2,809"
    809 "Arrow,ボロのや,0.5,0.05,0,0,0,Damage,2,1,,,,,,"
}

