// ŠK‘w,EID,%,EID,%,EID,%,EID,%,EID,%,EID,%,EID,%,EID,%,EID,%,EID,%,Po,Ar,Bu,Sw,Sh,HeE,BoE,FoE,Gu,Bo

#include "Resource.h"

STRINGTABLE{
    ID_SPAWNTABLE +  1 "1,50,2,50,,,,,,,,,,,,,,,,,,,,,,,,,,"
    ID_SPAWNTABLE +  2 ",,,,,,,,,,,,,,,,,,,,50,,,50,,,,,,"
    ID_SPAWNTABLE +  3 ",,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
    ID_SPAWNTABLE +  4 ",,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
    ID_SPAWNTABLE +  5 "7,50,8,50,,,,,,,,,,,,,,,,,,,,,,,,,,"
    ID_SPAWNTABLE +  6 ",,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
    ID_SPAWNTABLE +  7 ",,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
    ID_SPAWNTABLE +  8 ",,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
    ID_SPAWNTABLE +  9 ",,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
    ID_SPAWNTABLE + 10 ",,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
    ID_SPAWNTABLE + 11 ",,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
    ID_SPAWNTABLE + 12 ",,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
    ID_SPAWNTABLE + 13 ",,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
    ID_SPAWNTABLE + 14 ",,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
    ID_SPAWNTABLE + 15 ",,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
    ID_SPAWNTABLE + 16 ",,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
    ID_SPAWNTABLE + 17 ",,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
    ID_SPAWNTABLE + 18 ",,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
    ID_SPAWNTABLE + 19 ",,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
    ID_SPAWNTABLE + 20 ",,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
    ID_SPAWNTABLE + 21 ",,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
    ID_SPAWNTABLE + 22 ",,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
    ID_SPAWNTABLE + 23 ",,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
    ID_SPAWNTABLE + 24 ",,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
    ID_SPAWNTABLE + 25 ",,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
    ID_SPAWNTABLE + 26 ",,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
    ID_SPAWNTABLE + 27 ",,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
    ID_SPAWNTABLE + 28 ",,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
    ID_SPAWNTABLE + 29 ",,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
    ID_SPAWNTABLE + 30 ",,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
    ID_SPAWNTABLE + 31 ",,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
    ID_SPAWNTABLE + 32 ",,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
    ID_SPAWNTABLE + 33 ",,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
    ID_SPAWNTABLE + 34 ",,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
    ID_SPAWNTABLE + 35 ",,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
    ID_SPAWNTABLE + 36 ",,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
    ID_SPAWNTABLE + 37 ",,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
    ID_SPAWNTABLE + 38 ",,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
    ID_SPAWNTABLE + 39 ",,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
    ID_SPAWNTABLE + 40 ",,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
    ID_SPAWNTABLE + 41 ",,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
    ID_SPAWNTABLE + 42 ",,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
    ID_SPAWNTABLE + 43 ",,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
    ID_SPAWNTABLE + 44 ",,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
    ID_SPAWNTABLE + 45 ",,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
    ID_SPAWNTABLE + 46 ",,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
    ID_SPAWNTABLE + 47 ",,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
    ID_SPAWNTABLE + 48 ",,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
    ID_SPAWNTABLE + 49 ",,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
    ID_SPAWNTABLE + 50 ",,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
    ID_SPAWNTABLE + 51 ",,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
    ID_SPAWNTABLE + 52 ",,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
    ID_SPAWNTABLE + 53 ",,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
    ID_SPAWNTABLE + 54 ",,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
    ID_SPAWNTABLE + 55 ",,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
    ID_SPAWNTABLE + 56 ",,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
    ID_SPAWNTABLE + 57 ",,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
    ID_SPAWNTABLE + 58 ",,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
    ID_SPAWNTABLE + 59 ",,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
    ID_SPAWNTABLE + 60 ",,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
    ID_SPAWNTABLE + 61 ",,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
    ID_SPAWNTABLE + 62 ",,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
    ID_SPAWNTABLE + 63 ",,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
    ID_SPAWNTABLE + 64 ",,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
    ID_SPAWNTABLE + 65 ",,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
    ID_SPAWNTABLE + 66 ",,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
    ID_SPAWNTABLE + 67 ",,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
    ID_SPAWNTABLE + 68 ",,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
    ID_SPAWNTABLE + 69 ",,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
    ID_SPAWNTABLE + 70 ",,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
    ID_SPAWNTABLE + 71 ",,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
    ID_SPAWNTABLE + 72 ",,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
    ID_SPAWNTABLE + 73 ",,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
    ID_SPAWNTABLE + 74 ",,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
    ID_SPAWNTABLE + 75 ",,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
    ID_SPAWNTABLE + 76 ",,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
    ID_SPAWNTABLE + 77 ",,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
    ID_SPAWNTABLE + 78 ",,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
    ID_SPAWNTABLE + 79 ",,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
    ID_SPAWNTABLE + 80 ",,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
    ID_SPAWNTABLE + 81 ",,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
    ID_SPAWNTABLE + 82 ",,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
    ID_SPAWNTABLE + 83 ",,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
    ID_SPAWNTABLE + 84 ",,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
    ID_SPAWNTABLE + 85 ",,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
    ID_SPAWNTABLE + 86 ",,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
    ID_SPAWNTABLE + 87 ",,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
    ID_SPAWNTABLE + 88 ",,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
    ID_SPAWNTABLE + 89 ",,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
    ID_SPAWNTABLE + 90 ",,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
    ID_SPAWNTABLE + 91 ",,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
    ID_SPAWNTABLE + 92 ",,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
    ID_SPAWNTABLE + 93 ",,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
    ID_SPAWNTABLE + 94 ",,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
    ID_SPAWNTABLE + 95 ",,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
    ID_SPAWNTABLE + 96 ",,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
    ID_SPAWNTABLE + 97 ",,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
    ID_SPAWNTABLE + 98 ",,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
    ID_SPAWNTABLE + 99 ",,,,,,,,,,,,,,,,,,,,,,,,,,,,,"
}

